.parent{
    padding-left: 150px;
}


.card{
    display: inline-block;
    width:20%;
    background-color:rgb(238, 236, 236);
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    margin:25px;
    padding: 20PX;
   
   
}


.image img{
   width:100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}

button{
    background-color: rgb(17, 190, 17);
    color:white;
    padding:0.5rem;
    box-shadow:  black;
    cursor: pointer;
}

button:hover{
    color:red;
    background-color: aquamarine;
    transition:.5s;
    box-shadow: 2px 2px 10px black;
    
}


